.Form-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Form-input,
.Form-heading,
.Form-file {
  margin-bottom: 10px !important;
}

.Form-file {
  width: 50% !important;
}

@media only screen and (max-width: 600px) {
  .Form-file {
    width: 65% !important;
  }
}
