.Card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.Card-image {
  height: 200px;
  width: 100%;
}

.Card-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.Card-edit-button {
  position: absolute;
  right: 0;
  top: 0;
}

.Card-edit-icon {
  color: whitesmoke;
}

.Card-tags {
  margin-left: 10px;
}

.Card-title {
  margin: 10px !important;
}

.Card-actions {
  display: flex;
  justify-content: space-between;
}
